body{
    margin:0;
}
html{
    scroll-behavior: auto;
}
*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --current-color: rgb(247, 186, 73);
}

.container{
    width: 300px;
    height: 300px;
    

}
.container figure{
    width: 100%;
    position: relative;
    
    transform: perspective(600px) rotateY(0);
    backface-visibility: visible;
    transform-style: preserve-3d;
    transition: all ease .5s;
}
.container figure img,.container figure figcaption{
    width: 100%;
    transition:  all ease .5s;
    height: 100%;
}
.container figure figcaption{
    position: absolute;
    top: 0;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;

    box-shadow: 0 0 50px rgba(0,0, 0, .8)inset;
}
.container figure img{
    display: block;
    /* backface-visibility: hidden; */
}
.container:hover figure{
    transform: perspective(600px) rotateY(180deg);
}
