body{
    margin:0;
    scroll-behavior: smooth;
}
*,*::before,*::after{
    box-sizing: border-box;
}


/* maquetado con css grid ,para container */
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
                        "nav        nav         nav         nav"
                        "section    section     section     aside"
                        "footer     footer      footer      footer";
    
}









/* menu de navegacion */
.nav{
    width: 100%;
    background-color: white;
    grid-area: nav;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav ul{
    margin: 0;
    display: flex; 
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav ul a img{
    width: 3.5em;

}
.nav ul li {
    padding: 1em;

}
.nav ul li a{
    color: orange;
    text-decoration: none;
    font-size: 3em;
}





.aside{
    height: 400px;
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
    grid-area: aside;
    
    position: sticky;
    top:13vh;

}
.title-aside{
    color: orange;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.aside p{
    color: lightsalmon;
    text-align: center;
}

.section{
    background-color: white;
    grid-area: section;
    
}

.section .autor{
    border: thin #c0c0c0 solid;
    float: left;
    padding: 5px;
    margin-top: 0;
    margin-right: 1em;
    max-width: 220px;
}
.section .autor img{
    max-width: 220px;
    max-height: 250px;
}
.section .autor figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 10px;
    text-align: center;
}
.section .autor blockquote{
    background-color: #555;
    width: 100%;
    margin: 0;
    font: italic smaller sans-serif;
    color: #fff;
    font-size: 1em;

    quotes: ('\201c''\201c');
}
.section .autor blockquote::before{
    content: open-quote;
}
.section .autor blockquote::after{
    content: close-quote;
}


.section p:first-letter{
    color: orange;
    font-size: 3em;
    float: left;
    line-height: 1;
    margin-right: .1em;
}
*::selection{
    background-color: orangered;
}



.footer{
    grid-area: footer;
    background-color:white,;
}
.footer-facebook img{
    width: 10%;
    height: 2em;
}
.footer-twitter img{
    width: 10%;
    height: 2em;
}
.footer-whatsapp img{
    width: 10%;
    height: 2em;
}